<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dariapro.traincounting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dariapro.traincounting.activity.LevelListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.LevelListActivity">
        </activity>
        <activity android:name="com.dariapro.traincounting.activity.ProblemsListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ProblemsListActivity">
        </activity>
        <activity android:name="com.dariapro.traincounting.activity.ProblemsPagerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ProblemsPagerActivity">
        </activity>
        <activity android:name="com.dariapro.traincounting.activity.CategoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.CategoryActivity">
        </activity>
        <activity android:name="com.dariapro.traincounting.activity.ExampleStartActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ExamplePagerActivity">
        </activity>
        <activity android:name="com.dariapro.traincounting.activity.ExamplePagerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ExamplePagerActivity">
        </activity>
    </application>

</manifest>